# Python
__pycache__/
*.py[cod]
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.env.*

# Models
models/*.pkl
models/*.joblib
models/*.npz

# Large datasets
data/raw/*
data/processed/*

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db